.main__container {
  max-width: 968px;
  display: grid;
  background-color: #fff;
  grid-template-rows: 1fr;
  border-left: 1px solid rgb(235, 236, 237);
  border-right: 1px solid rgb(235, 236, 237);
  border-bottom: 1px solid rgb(235, 236, 237);
  height: 100%;
  grid-area: primary / primary / primary / primary;
  &::-webkit-scrollbar {
    display: none;
  }
}
